<!-- Footer start -->

<footer id="footer">
	<div class="container">
		<div class="row">

			<div class="col-sm-12">

				<ul class="social-links">
				<h4>Hire Me!</h4>
						<a href="mailto:rahatkapoor@icloud.com?Subject=Enquiry"><i class="fas fa-envelope"></i></a>
				</ul>

				<p class="copyright">
					© 2019 Rahat Kapoor, All Rights Reserved.
				</p>

			</div>

		</div><!-- .row -->
	</div><!-- .container -->
</footer>

<!-- Footer end -->

<!-- Scroll-up -->
<div class="scroll-up scroll-email">	
	<a href="mailto:rahatkapoor@icloud.com?Subject=Enquiry"><i class="fas fa-envelope"></i></a>
</div>
<div class="scroll-up scroll-nav">
	<a id="scroll-up"><i class="fas fa-arrow-up"></i></a>
</div>
